<div class="widget widget-2 widget-tabs">
	<div class="widget-head">
		<h6 class="heading glyphicons edit"><i></i>Company Information </h6>
	</div>
	<div class="widget-body" style="padding-bottom: 0;">
		<div class="row-fluid">
			<div class="span3">
				<strong>Company Information</strong>
			</div>
			<div class="span9">
				<label for="name"> Company Name </label>
				<input
				type="text" id="name" class="span10" placeholder="The Company Name"
				value="<%= name %>"/>
				<div class="separator"></div>

				<label for="location"> Street Address </label>
				<input
				type="text" id="location" class="span10"
				value="<%= location %>" placeholder="W 123 Street" />
				<div class="separator"></div>

				<label for="zipcode"> Zip Code</label>
				<input
				type="text" id="zipcode" class="span12"
				value="<%= zipcode %>" placeholder="The zip code" />
				<div class="separator"></div>

				<label for="city"> City </label>
				<input
				type="text" id="city" class="span12"
				value="<%= city %>" placeholder="The City" />
				<div class="separator"></div>

				<label for="companywebsite"> Company Website </label>
				<input
				type="text" id="companywebsite" class="span12"
				value="<%= companywebsite %>" placeholder="URL address of the Company Website" />
				<div class="separator"></div>
			</div>
		</div>
		<hr class="separator bottom" />
		<div class="row-fluid">
			<div class="span3">
				<strong>Owner Information</strong>
			</div>
			<div class="span9">
				<div class="row-fluid">
					<div class="span6">
						<label for="owner_firstname"> First Name </label>
						<input
						type="text" id="owner_firstname" placeholder="The owner first name"
						value="<%= owner_firstname %>"/>
						<div class="separator"></div>
						<label for="owner_lastname"> Last Name </label>
						<input
						type="text" id="owner_lastname" placeholder="The owner last name"
						value="<%= owner_lastname %>"/>
						<div class="separator"></div>
					</div>
					<div class="span6">
						<label for="owner_phone">Phone</label>
						<div class="input-prepend">
							<span class="add-on glyphicons phone"><i></i> </span>
							<input
							type="text" id="owner_phone" class="input-large" value="<%= owner_phone %>"
							placeholder="01234567897" />
						</div>
						<div class="separator"></div>

						<label for="owner_email">E-mail</label>
						<div class="input-prepend">
							<span class="add-on glyphicons envelope"><i></i> </span>
							<input type="text" id="owner_email" class="input-large" value="<%= owner_email %>"
							placeholder="contact@mosaicpro.biz" />
						</div>
						<div class="separator"></div>
					</div>
				</div>
			</div>
		</div>
		<hr class="separator bottom" />
		<div class="row-fluid">
			<div class="span3">
				<strong>Manager Information</strong>
			</div>
			<div class="span9">
				<div class="row-fluid">
					<div class="span6">
						<label for="manager_firstname"> First Name </label>
						<input
						type="text" id="manager_firstname" placeholder="The owner first name"
						value="<%= manager_firstname %>"/>
						<div class="separator"></div>
						<label for="manager_lastname"> Last Name </label>
						<input
						type="text" id="manager_lastname" placeholder="The owner last name"
						value="<%= manager_lastname %>"/>
						<div class="separator"></div>
					</div>
					<div class="span6">
						<label for="manager_phone">Phone</label>
						<div class="input-prepend">
							<span class="add-on glyphicons phone"><i></i> </span>
							<input
							type="text" id="manager_phone" class="input-large" value="<%= manager_phone %>"
							placeholder="01234567897" />
						</div>
						<div class="separator"></div>

						<label for="manager_email">E-mail</label>
						<div class="input-prepend">
							<span class="add-on glyphicons envelope"><i></i> </span>
							<input type="text" id="manager_email" class="input-large" value="<%= manager_email %>"
							placeholder="contact@mosaicpro.biz" />
						</div>
						<div class="separator"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-actions" style="margin: 0;">
			<button type="submit" class="btn btn-icon btn-primary glyphicons circle_ok" id="close-action"><i></i>Save changes</button>
			<button type="button" class="btn btn-icon btn-default glyphicons circle_remove" data-dismiss="modal" aria-hidden="true" id="close-action"><i></i>Cancel</button>
		</div>
	</div>
</div>


